<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Less的学习(新年心愿)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="Less/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<!-- 整个外层 -->
	<div class="width_box" id="app">
		<!-- 导航 -->
		<div class="nav_box">
			<div class="content_box">
				<!-- <ul class="nav_l">
					<li><a href="index.html">欢迎来到新年心愿</a></li>
					<li>
						<ul>
							<li><a>请登录</a></li>
							<li>|</li>
							<li><a>免费注册</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav_r">
					<li><a>教程</a></li>
					<li><a>下载</a></li>
					<li><a>导航</a></li>
					<li><a>签到</a></li>
				</ul> -->
				<div class="logo_box" @click="show = !show">
					<!-- <img src="image/logo.png" alt="" name="slide-fade" v-if="show"> -->
					<p class="logo_box" name="slide-fade" v-if="show">这是什么</p>
				</div>
			</div>
		</div>
		<!-- 头部 -->
		<div class="header_box">
			<div class="content_box" v>
				{{txt}}
				
			</div>
		</div>
		<!-- 主体 -->
		<div class="content_box">
			主体
		</div>
		<!-- footer -->
		<div class="content_box">
			footer
		</div>
	</div>

	<script src="vue/vue.min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>