@charset "utf-8";
@import "common";

.reset();
//整个主体的宽度
@body_width : 800px;
//导航的高度
@nav_height : 42px;
// 头部高度
@header_height : 300px;
//头部字体和边框的颜色
@header_color : #DFF7FE;
//边框颜色
@bordr_color : #1A7E79;
//字体的左右边距
@text_padding : 0 6px;
//导航字体的样式
.nav_txt_style(){
	.fl();
	padding: @text_padding;
	color: @header_color;
	a{
		.pointer();
		font-size: 14px;
		color: @header_color;
	}
}

//背景颜色
.background_color(){
	background-color : #38a39e;
}

body{
	.background_color();
}
// 宽外层
.width_box{
	width: 100%;
	height: auto;
}

// ************************** 导航区域样式开始
.nav_box{
	width: 100%;
	height: @nav_height;
	line-height: @nav_height;
	border-bottom: 1px solid @bordr_color;
}
// 内容区域的宽度
.content_box{
	width: @body_width;
	.margin();
}
// 导航区左侧部分
.nav_l{
	.fl();
	li{
		.nav_txt_style();
	}
}
// 导航区右侧部分
.nav_r{
	.fr();
	li{
		.nav_txt_style();
	}
}

.logo_box{
	height: @nav_height;
	line-height: @nav_height;
	overflow: hidden;
	img{
		height: @nav_height;
		line-height: @nav_height;
		display: block;
		margin: 0 auto;
	}
}

// **************  头部样式开始

.header_box{
	width: 100%;
	height : @header_height;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
//稍作修改





